@import url(variables.css);
@import url(media.css);


:root {
  font-family: 'Darker Grotesque', serif;
  font-weight: 700;

  background-image: url("/public/sky.jpg");
  background-repeat: no-repeat;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: rgba(235, 241, 255, 0.808);
  margin: 2rem;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

h2 {
  color: black;
}